h1 {
	text-align: center;
	font-family: 'Play', sans-serif;
}

.left {
	font-family: 'Play', sans-serif;
	float: left;
	width: 45%;
	border-style: solid;
	border-width: 2px;
	border-color: blue;
	border-radius: 15px;
	padding: 10px;
}

.right {
	font-family: 'Play', sans-serif;
	float: right;
	width: 45%;
	border-style: dashed;
	border-width: 1px;
	border-color: blue;
	border-radius: 15px;
	padding: 10px;
}

.last {
	float: right;
	width: 100%;
	margin-top: 60%;
	margin-bottom: 20px;
}

h3 {
	font-weight: 500;
}

ol {
	font-weight: 300;
}

.left ul {
	font-weight: 300;
	list-style: none;
}

.right ul {
	font-weight: 300;
	list-style: upper-roman;
}

a {
	font-family: 'Titillium Web', sans-serif;
	float: right;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}